@import url('https://fonts.googleapis.com/css?family=Rokkitt');

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}

#menu-frame {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.menu-links {
	float: right;
	color: #ffffff;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
}

#welcome-container {
	grid-column: 3 / 10;
	background-color: #000000;
	margin: 0;
	padding-bottom: 50px;
}

.welcome-quote {
	color: #ffffff;
    font-family: 'Heebo', sans-serif;
    font-size: 13em;
    font-weight: bolder;
    line-height: 0.75em;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 190px;
    margin: 0;
}

.spacer-column-1 {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	background-color: #000000;
}

.spacer-column-2 {
	grid-row: 2 / 3;
	grid-column: 10 / 13;
	background-color: #000000;
}

#summary-container {
	grid-column: 7 / 10;
	background-color: #ffffff;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 100px;
}

.summary {
	color: #000000;
	margin: 0;
	font-size: 2em;
    font-family: 'Rokkitt', serif;
}

.bolder {
	font-family: 'Heebo', sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 1.2em;
}

#profile-pic-1-container {
	grid-row: 3 / 4;
	grid-column: 3 / 6;
	background-color: #ffffff;
}

#profile-pic-1 {
	width: 476.4px;
	padding-top: 100px;
}

#profile-pic-2 {
	width: 476.4px;
}