a:link {
	text-decoration: none; 
}

a:visited {
  color: #ffffff;
}

a:hover {
	color: #ff0000;
}

body {
		margin: 0;
		padding: 0;
	}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
		display: inline;
}

p {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
  }	

#menu-frame {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.menu-links {
	float: right;
	color: #ffffff;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
}

#welcome-container {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.welcome-quote {
	color: #ffffff;
    font-family: 'Heebo', sans-serif;
    font-size: 13em;
    font-weight: bolder;
    line-height: 1em;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 190px;
    margin: 0;
}

#instagram-container {
	grid-column: 3 / 11;
	margin: 0;
	padding-bottom: 100px;
	padding-top: 100px;
	background-color: #f7f4f4;
}

.ig-personal-pic {
	width: 400px;
}

#instagram-pic-1-container {
	grid-column: 3 / 5;
}

#instagram-pic-2-container {
	grid-column: 6 / 9;
}

#instagram-pic-3-container {
	grid-column: 9 / 13;
}

#instagram-pic-4-container {
	grid-column: 3 / 7;
}

#instagram-pic-5-container {
	grid-column: 3 / 7;
}

#instagram-pic-6-container {
	grid-column: 3 / 7;
}

#instagram-pic-7-container {
	grid-column: 3 / 5;
}

#instagram-pic-8-container {
	grid-column: 3 / 5;
}

#instagram-pic-9-container {
	grid-column: 3 / 5;
}

#instagram-pic-10-container {
	grid-column: 3 / 5;
}

#instagram-pic-11-container {
	grid-column: 3 / 5;
}

#instagram-pic-12-container {
	grid-column: 3 / 5;
}

#instagram-pic-13-container {
	grid-column: 3 / 5;
}

#instagram-pic-14-container {
	grid-column: 3 / 5;
}

#instagram-pic-15-container {
	grid-column: 3 / 5;
}

.spacer-column-1 {
	grid-row: 3 / 4;
	grid-column: 1 / 3;
	background-color: #f7f4f4;
}

.spacer-column-2 {
	grid-row: 3 / 4;
	grid-column: 11 / 13;
	background-color: #f7f4f4;
}