body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}

#menu-frame {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.menu-links {
	float: right;
	color: #ffffff;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
}

#welcome-container {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding-bottom: 50px;
}

.welcome-quote {
	color: #ffffff;
    font-family: 'Heebo', sans-serif;
    font-size: 13em;
    font-weight: bolder;
    line-height: 0.99em;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 190px;
    margin: 0;
}

#twitter-container {
	grid-column: 3 / 10;
	background-color: #ffffff;
	margin: 0;
	padding-bottom: 50px;
}

.twitter-welcome-quote {
	color: #1B95E0;
	font-family: 'Didact Gothit', sans-serif;
	font-size: 70px;
	font-weight: bolder;
}

#twitter-logo-container {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

#twitter-logo {
	width: 70px;
}