@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,800,900');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Karla');
@font-face {
	font-family: "Billabong";
	src: url(./fonts/billabong.ttf)
}
@font-face {
	font-family: "Whitney";
	src: url(./fonts/whitney.otf);
}

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}

#menu-frame {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

.menu-links {
	float: right;
	color: #ffffff;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
}

#welcome-container {
	grid-column: 1 / 13;
	background-color: #000000;
	margin: 0;
	padding-bottom: 50px;
}

.welcome-quote {
	color: #ffffff;
    font-family: 'Heebo', sans-serif;
    font-size: 13em;
    font-weight: bolder;
    line-height: 0.99em;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 75px;
    padding-bottom: 190px;
    margin: 0;
}

#twitter-container {
	grid-column: 3 / 10;
	background-color: #ffffff;
	margin: 0;
	padding-bottom: 50px;
}

.twitter-welcome-quote {
	color: #1B95E0;
	font-family: 'Didact Gothit', sans-serif;
	font-size: 4em;
	font-weight: bolder;
}

#twitter-logo-container {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

#twitter-logo {
	width: 70px;
}

.twitter-info-quote {
	color: #1B95E0;
	margin: 0;
	font-size: 2em;
    font-family: 'Didact Gothic', sans-serif;
}

#twitter-iframe-container {
	grid-column: 3 / 7;
	padding-bottom: 100PX;
}

/* INICIO INSTAGRAM */

#instagram-container {
	grid-column: 3 / 10;
	background-color: #ff6baf;
	margin: 0;
	padding-bottom: 100px;
}

.instagram-welcome-quote {
	color: #ffffff;
	font-family: 'Billabong', sans-serif;
	font-size: 6em;
	font-weight: bolder;
	margin-bottom: 25px;
}

#instagram-logo {
	width: 70px;
}

.instagram-info-quote {
	color: #ffffff;
	margin: 0;
	font-size: 2em;
    font-family: 'Billabong', sans-serif;
    padding-bottom: 50px;
}

.ig-pic {
	width: 400px;
}

#instagram-pic-1-container {
	grid-column: 3 / 5;
}

#instagram-pic-2-container {
	grid-column: 6 / 9;
}

#instagram-pic-3-container {
	grid-column: 9 / 13;
}

#instagram-pic-4-container {
	grid-column: 3 / 7;
}

#instagram-pic-5-container {
	grid-column: 3 / 7;
}

#instagram-pic-6-container {
	grid-column: 3 / 7;
}

.spacer-column-1 {
	grid-row: 5 / 6;
	grid-column: 1 / 3;
	background-color: #ff6baf;
}

.spacer-column-2 {
	grid-row: 5 / 6;
	grid-column: 10 / 13;
	background-color: #ff6baf;
}

/* FINAL INSTAGRAM */

/* INICIO DISCORD */

#discord-container {
	grid-column: 3 / 10;
	background-color: #7289DA;
	margin: 0;
	padding-bottom: 100px;
}

.discord-welcome-quote {
	color: #ffffff;
	font-family: 'Whitney', sans-serif;
	font-size: 6em;
	font-weight: bolder;
	margin-bottom: 25px;
}

#discord-logo-container {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

#discord-logo {
	width: 400px;
}

#ds-gif {
	width: 900px;
	padding-left: 30px;
}

.discord-info-quote {
	color: #ffffff;
	margin: 0;
	font-size: 2em;
    font-family: 'Whitney', sans-serif;
    padding-bottom: 50px;
}

.spacer-column-3 {
	grid-row: 6 / 7;
	grid-column: 1 / 3;
	background-color: #7289DA;
}

.spacer-column-4 {
	grid-row: 6 / 7;
	grid-column: 10 / 13;
	background-color: #7289DA;
}

/* FINAL DISCORD */